In [ ]:
# Chapter 3

In [3]:
# Manually create data frame
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3], 
    'B': [4, 5, 6], 
    'C': [7, 8, 9]}, 
    index = ['x', 'y', 'z'])

print(df)

   A  B  C
x  1  4  7
y  2  5  8
z  3  6  9

In [12]:
# Subsetting Columns
df['A']
df.A
df[['A', 'B']]

   A  B
x  1  4
y  2  5
z  3  6

In [24]:
# Subsetting Rows:
# Row-label(loc) vs row-index (iloc)
# Python starts counting from 0
df
df.iloc[0]
df.iloc[[0, 1]]
df.iloc[0, :]
df.iloc[[0, 1], :]

   A  B  C
x  1  4  7
y  2  5  8

In [27]:
# Subsetting Rows .loc
df.loc['x']
df.loc[['x', 'y']]

   A  B  C
x  1  4  7
y  2  5  8

In [31]:
# Multiple rows and columns
df.loc['x', 'A']
df.loc[['x', 'y'], ['A', 'B']]

   A  B
x  1  4
y  2  5

In [35]:
# Conditional subsetting
df[df.A == 3]
df[(df.A == 3) | (df.B == 4)]

   A  B  C
x  1  4  7
z  3  6  9

In [36]:
# Attributes 
df.shape

(3, 3)