# Python fo R Users

## Course Description

Rython and R have seen immense growth in popularity in the "Machine Learning Age". The both are high-level languages that are easy to learn and write. The language you use will depend on your background and field of study and work. R is a language made by and for statisticians, whereas Python is a more general purpose programming language. Regardless of the background, there will be times when a particular algorithm is implemented in one language and not the other, a feature is better documented, or simply, the tutorial you found online uses Python instead of R. In either case, this would require the R user to work in Python to get his/her work done, or try to understand and how something is implemented in Python for it to be translated into R. This course helps you cross the R-Python language barrier.

# Chapter 1: The Basics

Learn about some of the most important data types (integers, floats, strings, and booleans) and data structures (lists, dictionaries, numpy arrays, and pandas DataFrames) in Python and how they compare to the ones in R.

Python Data types

* int: integers (numbers without a decimal)
* float: floating point numbers (numbers with a decimal)
* bool: True or False values
* str: strings

Data type: 
type(x)  to determine the data type of an object 

Unlike R, Python has only one way to assign values, by using the = sign.

Lists in Python: 
* similar to the R vector and list
* Holds heterogeneous information (e.g. [3, 2.718, True, 'hello'])

Python is 0 indexed. 

Python is left inclusive and right exclusive. 

Dictionaries: 

* Lists are unlabele
* Dictionaries provie key:value pairs

In [2]:
# Assign the values to the list
person_list = ['Jonathan', 'Cornelissen', 'male', True, 458]

# Create a dictionary from the employee information list
person_dict = {
    'fname': 'Jonathan', 
    'lname': 'Cornelissen', 
    'sex': 'male', 
    'employed': True, 
    'twitter_followers': 458
}

# Get the first and last name from the dict
print(person_dict['fname'])
print(person_dict['lname'])

Jonathan
Cornelissen

# Chapter 3 

In this chapter you will learn more about one of the most important Python libraries, Pandas. In addition to DataFrames, 
pandas provides several data manipulation functions and methods.

In [3]:
# Manually create data frame
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3], 
    'B': [4, 5, 6], 
    'C': [7, 8, 9]}, 
    index = ['x', 'y', 'z'])

print(df)

   A  B  C
x  1  4  7
y  2  5  8
z  3  6  9

In [12]:
# Subsetting Columns
df['A']
df.A
df[['A', 'B']]

   A  B
x  1  4
y  2  5
z  3  6

In [24]:
# Subsetting Rows:
# Row-label(loc) vs row-index (iloc)
# Python starts counting from 0
df
df.iloc[0]
df.iloc[[0, 1]]
df.iloc[0, :]
df.iloc[[0, 1], :]

   A  B  C
x  1  4  7
y  2  5  8

In [27]:
# Subsetting Rows .loc
df.loc['x']
df.loc[['x', 'y']]

   A  B  C
x  1  4  7
y  2  5  8

In [31]:
# Multiple rows and columns
df.loc['x', 'A']
df.loc[['x', 'y'], ['A', 'B']]

   A  B
x  1  4
y  2  5

In [35]:
# Conditional subsetting
df[df.A == 3]
df[(df.A == 3) | (df.B == 4)]

   A  B  C
x  1  4  7
z  3  6  9

In [36]:
# Attributes 
df.shape

(3, 3)